navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.navbar-logo {
  font-weight: 600;
  color: rgb(122, 122, 122);
}

.navbar-logo b {
  color: #ff511c;
}

.navbar-link {
  display: flex;
  list-style: none;
}

.navbar-link li {
  margin-right: 30px;
}

.navbar-link li a {
  text-decoration: none;
  color: rgb(122, 122, 122);
  font-weight: 500;
  font-size: 17px;
}

.navbar-link li a:hover {
  color: #ff511c;
}

.navbar-link .active::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #ff511c;
  display: flex;
  position: relative;
  margin-top: 3x;
}

.auth-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

input {
  padding: 10px;
  cursor: pointer;
  font-weight: 600;
}

.signin {
  background: transparent;
  border: none;
  color: #0000;
  font-weight: 500;
}